@model BeterVervoegen.Models.TestItemVM
<div class="testDeel">
	@Html.HiddenFor(model => model.ItemId)
	<h3>@Html.LabelFor(model => model.Infinitive)</h3>
	@Html.HiddenFor(model => model.Infinitive)
	@Html.LabelFor(model => model.AnswerSimplePast)
	@Html.EditorFor(model => model.AnswerSimplePast)
	@Html.LabelFor(model => model.AnswerPastParticiple)
	@Html.EditorFor(model => model.AnswerPastParticiple)


</div>
